*.log
.vscode

.oh-my-zsh/**
!.oh-my-posh/custom/themes/odesai.zsh-theme

.oh-my-posh/**
!.oh-my-posh/theme/powerlevel10k_lean.omp.json

mpv.net/**
!mpv.net/custom/
!mpv.net/custom/**
!mpv.net/fonts/
!mpv.net/fonts/**
!mpv.net/scripts/
!mpv.net/scripts/**
!mpv.net/script-opts/
!mpv.net/script-opts/**
!mpv.net/shaders/
!mpv.net/shaders/**
!mpv.net/input.conf
!mpv.net/mpv.conf
!mpv.net/mpvnet.conf
!mpv.net/theme.conf

PowerShell/
PowerShell/**
!PowerShell/Microsoft.PowerShell_profile.ps1

vscode/User/
vscode/User/**
!vscode/User/settings.json
