# ---- Logs ---- #
logs
*.log

# ---- IDE Configs ---- #
.vscode

# ---- Terminal Themes ---- #
.oh-my-zsh/*
!.oh-my-posh/custom/themes/otheypsy.zsh-theme
.oh-my-posh/*
!.oh-my-posh/themes/otheypsy.omp.json
