* {
    font-size: 1.2rem;
    font-family: 'Open Sans';
}

#nav-bar-customization-target {
    padding-block: 1rem;
}

#personal-bookmarks {
    padding-block: 0.5rem;
}

toolbarbutton.bookmark-item:not(.subviewbutton) {
    padding-inline: 0.5rem;
}

treechildren {
    font-size: 1.2rem;
}

treechildren::-moz-tree-row {
    margin-block: 0.5rem;
}

*[privatebrowsingmode='temporary'] {
    #nav-bar {
        background-color: #731825 !important;
    }
}
